@charset "utf-8";

html {
	font-size:16px;
}

/* reset */
html, body { 
	height:100%;
}
html, body, div, form, input, select, button, textarea, legend, fieldset, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, address, p, th, td, caption {
	margin:0;
	padding:0;
	font-family:$basic-fonts;
}
body, input, textarea, select, button, table, a {
	font-family:$basic-fonts;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}
img, fieldset {
	border:0 none;
}
ul, ol, li {
	list-style:none;
}
em,address {
	font-style:normal;
} 
a:link, a:hover,a:active,a:focus, a:visited { 
	text-decoration:none;
}
table {
	 text-align:center;
	 border-collapse:collapse;
	 border-spacing:0;
	}
hr {
	display:none;
}
input[type=text], input[type=password], input[type=submit], input[type=search], textarea {
	-webkit-appearance:none;
	-webkit-border-radius:0;
}
input, select, textarea {
	vertical-align:middle;
	resize:none;
}
button {
	border:0 none;
	background:transparent;
	cursor:pointer;
}
img {
	vertical-align:top;
}

caption, .blind { 
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	visibility:hidden;
	overflow:hidden;
}