@charset "utf-8";
$basic-fonts:"Noto Sans CJK KR", 'AppleGothic', "맑은 고딕", 'MalgunGothic', sans-serif;
/* Thin 100, Light 300, DemiLight 350, Regular 400, Medium 500, Bold 700, Black 900 */

$c_red:#ff0000;
$c_blue:#0000ff;
$c_green:#4cae4c;
$c_yellow:#edd400;