@charset "utf-8";
@import 'mixins';
@import 'reset';

table{ 
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	th, td { 
		padding:.25em .5em;
		text-align:center;
		border:1px solid #aaa;
	}
	td {
		color:#666;
		.fa-check { 
			@include font-size(12);
			color:#ff0000;
		}
	}
	thead th { 
		border-bottom-width:3px;
		background-color:#c0c0c0;
	}
	tbody {
		tr {
			&:nth-child(even) {
				th, td {
					background-color:#f2f2f2;
				}
			}
		}
	}
}


@media screen and (max-width: 600px) {
	table.table {
		 thead { 
			display: none;
		}
		tbody td { 
			padding: .6rem; 
			display: block;
			&:first-child { 
				background: #666; color: #fff; 
			}
			&:before { 
				content: attr(data-th); 
				font-weight: bold;
				display: inline-block;
				width: 6rem;  
			}
		}
	}
}

#wrap {
	width:100%;
	box-sizing:border-box;
	padding:2em;
}
#lottoTotal {
	margin-bottom:10px;
	td { 
		@include font-size(12);
	}
	.key_num { 
		font-weight:700;
		font-family:tahoma;
		color:#ff4c60;
	}
	.maxium {
		font-weight:800;
		color:navy;
	}
}

#lottoTable {
	padding-bottom:2em;
}

#btnWrap {
	margin-bottom:5px;
	text-align:right;
}

.btn {
	display:inline-block;
	padding:6px 12px;
	font-weight:400;
	@include font-size(14);
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	color:#333;
	border:1px solid #ccc;
	background-color:#fff;
	border-radius:4px;
	&:hover {
		color:#333;
		background-color:#e6e6e6;
		border-color:#adadad;
	}
	&.curr {
		color:#fff;
		background-color:#5cb85c;
		border-color:#4cae4c;
		&:hover {
			background-color:#449d44;
			border-color:#398439;
		}
	}
	&.active {
		color:#fff;
		background-color:#d9534f;
		border-color:#d43f3a;
		&:hover {
			background-color:#c9302c;
			border-color:#ac2925;
		}
	}
}



